# Node modules
node_modules/
.next/
dist/
build/
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# IDEs and system files
.vscode/
.DS_Store

# Local uploads/temp
uploads/
